body {
  margin: 0;
  padding: 10px;
  background-color: black;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

#first-screen {
  width: 100vw;
  height: 100vh;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-size: cover;
  background-repeat: no-repeat;
}

#start-img {
  width: 100vw;
  height: 100vh;
  position: absolute;
  z-index: -1;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-size: cover;
  background-repeat: no-repeat;
}

h1 {
  width: fit-content;
  height: 93px;

  font-family: "Sirin Stencil", cursive;
  font-style: normal;
  font-weight: normal;
  font-size: 64px;
  line-height: 93px;
  justify-content: center;
  text-align: center;
  color: #ffffff;
  text-shadow: 0px 0px 30px #f5a9a9c9;

  /* Auto layout */
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  padding: 16px 16px;

  position: relative;
  width: 500px;
  margin-bottom: 64px;
}

.btn {
  /* state = default */

  position: static;
  width: fit-content;
  height: 100px;
  left: 16px;
  top: 16px;

  font-family: "Saira Stencil One";
  font-style: normal;
  font-weight: normal;
  font-size: 32px;
  line-height: 50px;
  color: #bdff00;

  /* Auto layout */
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 16px;

  background: #fffce3;
  border-radius: 24px;

  /*animation-timing-function: ease-out;
  animation-duration: 300ms; */
}

.btn:hover {
  /* state = while Hovering */
  background: #bdff00;
  color: #fffce3;
  /*  Mouse leave - Change to: "default"; */
}

#third-screen {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
/*   background-image: src("assets/starsSecondScreen.gif"); */
  background-size: cover;
  background-repeat: no-repeat;
}


