* {
  margin: 0;
}

body {
  background-color: black;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

#splash-screen,
#gameover-screen {
  margin: 32px 64px;
  width: 100%;
  height: 50%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
    background-image: url(assets/bg-buildings.png);
  background-repeat: no-repeat;
  background-position: bottom;
}
#gameover-screen {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-repeat: no-repeat;
    background-image: url(assets/bg-buildings.png);
  background-repeat: no-repeat;
  background-position: bottom center;
}

@media screen and (max-width: 1100px) {
  #splash-screen {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
    align-content: stretch;
  }
}

h1 {
  width: fit-content;
  height: 93px;

  font-family: "Sirin Stencil", cursive;
  font-style: normal;
  font-weight: normal;
  font-size: 1.25em;
  line-height: 93px;

  text-align: center;
  color: #efff8e;
  text-shadow: 0px 0px 30px #f5a9a9c9;

  /* Auto layout */
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  padding-bottom: 32px;

  position: relative;
}
h2 {
  color: #efff8e;
  font-size: 1.5em;
  font-family: "Special Elite";
  font-weight:100;
}
@media screen and (max-width: 1100px) {
  h1 {
    padding: 16px;
    font-size: 0.75em;
  }
}

.column-items, .row-items {
  margin: 32px;
  padding: 60px;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-evenly;
  align-items: center;
  align-content: center;
}

aside {
  color: white;
  font-size: 2em;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  margin: 4%;
}

.btn {
  /* state = default */
  padding: 32px;

  width: 12vw;
  height: 60px;
  left: 16px;
  top: 16px;

  font-family: "Saira Stencil One";
  font-style: normal;
  font-weight: bold;
  font-size: 1em;
  line-height: 50px;
  /*   color: #739c00; */

  /* Auto layout */
  display: flex;
  position: relative;
  align-content: center;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  background: #fffce3;
  border-radius: 10.76px;
}

.btn:hover {
  /* state = while Hovering */
  background: #efff8e;

  box-shadow: 0px 0px 40px #f5a9a9c9;
  /*  Mouse leave - Change to: "default"; */
}


.h1-W-G-Screen {
  font-size: 8em;
}

@media screen and (max-width: 1100px) {
  .h1-W-G-Screen {
    font-size: 4em;
  }
}

.p-VS-GOS {
  font-size: 2em;
  text-align: center;
}

@media screen and (max-width: 1100px) {
  .p-VS-GOS {
    font-size: 1.5em;
  }
}

p {
  width: 100%;
  height: fit-content;
  color: rgb(225, 206, 255);
  font-size: 0.5em;
  font-family: "Special Elite";
  font-weight: 600;
  line-height: 1.5em;
  letter-spacing: 0.07em;
  padding-bottom: 80px;
}

@media screen and (max-width: 1100px) {
  p {
    padding: 16px;
    font-size: 0.5em;
  }
}

.virus-img {
  margin: 2%;
}

@media screen and (max-width: 1100px) {
  .virus-img {
    width: 32px;
    height: 32px;
  }
}

#score {
  color: #efff8e;
  font-size: 1.25em;
}
